.xans-product-detail .detailArea {
  padding: 0 0 0 590px;
  zoom: 1;
}

.xans-product-detail .imgArea {
  float: left;
  width: 570px;
  margin: 0 0 0 -590px;
}

.xans-product-detail .imgArea .keyImg {
  width: 570px;
}

.xans-product-detail .imgArea .keyImg .thumbnail {
  position: relative;
  max-width: 100%;
}

.xans-product-detail .imgArea .keyImg img {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.xans-product-detail .imgArea .listImg {
  overflow: hidden;
  margin: 7px -7px 0;
  min-height: 146px;
}

.xans-product-detail .imgArea .listImg ul {
  font-size: 0;
  line-height: 0;
}

.xans-product-detail .imgArea .listImg li {
  float: left;
  line-height: 14px;
  vertical-align: top;
  display: inline;
  zoom: 1;
  box-sizing: border-box;
  width: 25%;
  max-width: 146px;
}

.xans-product-detail .imgArea .listImg li div {
  margin: 7px;
}

.xans-product-detail .imgArea .listImg li img {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
}

.xans-product-detail .infoArea {
  padding-left: 0px;
  padding: 25px 30px;
  border: 1px solid #ddd;
}

.xans-product-detail .headingArea {
  position: relative;
  padding: 0 0 10px;
  margin: 0 0 0px;
  line-height: 24px;
  border-bottom: 1px solid #e8e8e8;
}
